/* Reset simples */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background-color: #0040ff;
  color: #333;
  line-height: 1.6;
}


/* Cabeçalho */
header {
  background-color: #660000;
  color: #fff;
  padding: 20px;
  text-align: center;
}


header p {
  font-size: 0.9rem;
  opacity: 0.8;
}


/* Conteúdo */
main {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
}


section {
  margin-bottom: 25px;
}


h2 {
  margin-bottom: 10px;
  color: #24292e;
}


ul {
  margin-left: 20px;
}


button {
  padding: 10px 15px;
  border: none;
  background-color: #2da44e;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}


button:hover {
  background-color: #238636;
}


/* Mensagem dinâmica */
#mensagem {
  margin-top: 10px;
  font-weight: bold;
}


/* Rodapé */
footer {
  text-align: center;
  padding: 15px;
  font-size: 0.8rem;
  color: #666;
}
